.container {
    width: 90%;
    border-radius: 5px;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
}

.container svg {
    font-size: 8vh;
    position: absolute;
    left: 0;
    transform: translateX(-50%);
}

.container p {
    font-size: 4vh;
    font-weight: 500;
}

.error {
    background-color: var(--body);
    color: var(--error);
    border-radius: 50%;
}

.error svg {
    color: var(--body);
    filter: drop-shadow(0 0 5px var(--error));
}

.success {
    background-color: var(--success);
    color: var(--body);
    border-radius: 50%;
}

.success svg {
    color: var(--body);
    filter: drop-shadow(0 0 5px var(--error));
}