.container {
    height: 75vh;
    width: 100%;
    overflow: hidden;
    position: fixed;
}

.slides {
    width: 300%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

.slide {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
}

.slide a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all 1s;
    position: relative;
}

.pagination {
    width: 5vw;
    position: absolute;
    left: 50%;
    bottom: 2vh;
    transform: translateX(-50%);
    height: 1vw;
    z-index: 6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dot {
    width: 1vw;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(255 255 255 / 50%);
    cursor: pointer;
}

.activeDot {
    width: 1vw;
    height: 100%;
    border-radius: 50%;
    background-color: var(--body) !important;
    cursor: default;
}

.slide:nth-child(1) .pote {

    position: absolute;
    left: 11vw;
    bottom: -2vh;
}

.slide:nth-child(2) .pote {

    position: absolute;
    right: 4vw;
    bottom: -4vh;
}

.slide:nth-child(3) .pote {

    position: absolute;
    left: 4vw;
    bottom: -2vh;
}


.poteWrapper {
    position: relative;
    width: 31vw;
    height: 31vw;
}