.reviews {
    height: 60vh;
    width: 100%;
    padding: 5vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--dark);
}

.quote {
    width: 5vw;
    height: 5vw;
    position: relative;
}

.reviews h1 {
    position: relative;
    color: white;
    z-index: 4;
    font-size: 10vw;
}

.reviews > p {
    position: relative;
    color: white;
    text-align: center;
    font-size: 3vh;
    z-index: 4;
    width: 60%;
}


.bg {
    position: absolute;
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
    z-index: 1;
}

.percent {
    background: #565d69;
    color: white;
    height: auto;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.percent ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
    width: 100%
}

.percent ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.percent ul li span {
    font-size: 5vw;
}

.absolute {
    position: absolute;
    width: 30vw;
    height: 80%;
    left: 0;
    top: 50%;
}

.pote {
    position: relative;
    width: 100%;
    height: 60%;
    margin-left: -10%;
}

.slider {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 5vh;
    transition: all 1s;
    position: relative;
}

.name {
    text-align: center;
    position: relative;
    z-index: 6;
    color: var(--body);
    padding: 1vw 2vw;
    transition: all 1s;
    font-size: 5vw;
}

.reviewText {
    width: 60%;
    color: var(--body);
    text-align: center;
}

.reviewText p {
    font-size: 4vw;
}

.hundredContainer {
    width: 100%;
    background: #565d69;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 25vw;
}

.hundredCircle {
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    border: 2vw solid var(--primary);
    position: absolute;
}

.percentCircle {
    position: absolute;
    width: 20vw;
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--body);
}

.percentCircle span {
    font-size: 2vh;
}

@media screen and (min-width:1200px) {
    .reviews {
        justify-content: center;
        padding: 2vw;
    }

    .reviews h1 {
        font-size: 5vw;
    }

    .name {
        font-size: 2vw;
    }

    .reviewText {
        margin-top: 2vh;
    }

    .reviewText p {
        font-size: 1.7vw;
    }

    .background {
        margin-top: 0;
    }

    .pote {
        position: relative;
        width: 100%;
        height: 100%;
        margin-left: 0;
    }

    .percent {
        padding: 2vw;
    }

    .percent ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 60%
    }

    .percent ul li span {
        font-size: 1.7vw;
    }

    .hundredContainer {
        height: 10vw;
    }

    .hundredCircle {
        width: 7vw;
        height: 7vw;
        border: .5vw solid var(--primary);
    }

    .percentCircle {
        width: 7vw;
        height: 7vw;
    }

    .hundredContainer > span {
        font-size: 2vw;
    }
}