.container {
    height: 90vh;
}

.slide {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
}

.slide h2 {
    position: absolute;
    left: 50%;
    top: 15%;
    z-index: 4;
    transform: translate(-50%, -50%);
    color: var(--body);
    width: 90%;
}

.slide a {
    width: 100%;
    height: 100%;
    display: block;
    transition: all 1s;
    position: relative;
}

.slide:nth-child(1) .pote {

    position: absolute;
    left: 0;
    bottom: -2vh;
}

.slide:nth-child(2) .pote {

    position: absolute;
    right: 4vw;
    bottom: -4vh;
}

.slide:nth-child(3) .pote {

    position: absolute;
    left: -4vw;
    bottom: -2vh;
}

.poteWrapper {
    position: relative;
    width: 40vh;
    height: 40vh;
}

@media screen and (min-width:1200px) {
    .container {
        height: 80vh;
    }

    .slide:nth-child(1) .pote {

        position: absolute;
        left: 11vw;
        bottom: -2vh;
    }

    .slide:nth-child(2) .pote {

        position: absolute;
        right: 4vw;
        bottom: -4vh;
    }

    .slide:nth-child(3) .pote {

        position: absolute;
        left: 4vw;
        bottom: -2vh;
    }

    .poteWrapper {
        position: relative;
        width: 31vw;
        height: 31vw;
    }
}