.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 5vw;
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: var(--body);
    box-shadow: 0 0 5px var(--info);
}

.container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25vw;
}

.networkItem {
    position: relative;
    width: 6vw;
    height: 6vw;
}

.networkItem a {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

@media screen and (min-width:1200px) {
    .container {
        padding: 0 2vw;
    }

    .networkItem {
        width: 1.3vw;
        height: 1.3vw;
    }
}