.container {
    position: relative;
    z-index: 2;
}

.top {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.left {
    background-color: var(--primary-alt);
    width: 100%;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right {
    width: 100%;
    padding: 5vh;
    background-color: var(--info);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.networks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vh;
}

.networks svg {
    color: var(--primary-alt);
    font-size: 10vw;
    margin-right: 5vw;
}

.infoItem {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark);
}

.infoItem:not(:last-child) {
    margin-bottom: 1vh;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.infoItem svg {
    color: var(--primary-alt);
    font-size: 7vw;
    margin-right: 2vw;
}

.bottom {
    background-color: var(--dark);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--body);
    padding: 2vh 0;
}

.top ol li {
    text-align: right;
    line-height: 1;
}

.top ol li span {
    left: 10px;
    color: var(--info);
    font-weight: 600;
}

.top ol li::marker {
    color: var(--body);
}

@media screen and (min-width:1200px) {
    .top {
        height: 230px;
        flex-direction: row;
        justify-content: center;
    }

    .left {
        width: 50%;
        height: 100%;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .right {
        width: 50%;
        height: 100%;
        align-items: flex-start;
    }

    .networks svg {
        font-size: 3vh;
        margin-right: 1vh;
    }

    .infoItem svg {
        font-size: 25px;
        margin-right: .5vw;
    }

}