.container {
    position: absolute;
    bottom: 3vh;
    left: 50%;
    transform: translateX(-50%);
}

.container a {
    width: 15vw;
    height: 15vw;
    display: block;
    position: relative;
}

@media screen and (min-width:1200px) {

    .container {
        position: absolute;
        bottom: 2vh;
        left: 50%;
        transform: translateX(-50%);
    }

    .container a {
        width: 2vw;
        height: 4vw;
        display: block;
        position: relative;
    }
}