.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.container a {
    width: 15vw;
    height: 15vw;
    display: block;
    position: relative;
}

@media screen and (min-width:1200px) {

    .container a {
        width: 2vw;
        height: 4vw;
    }
}