.container {
    width: 100%;
    background: #565d69;
}

.percent {
    color: white;
    padding: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
    width: 100%
}

.percent li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.percent li span {
    font-size: 6vw;
    font-weight: 300;
    letter-spacing: 2px;
    font-style: normal;
}

.hundredContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 5vw;
}

.hundredCircle {
    border-radius: 50%;
    width: 50vw;
    height: 50vw;
    border: 5vw solid var(--primary);
}

.hundredText {
    position: absolute;
    width: 30vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--body);
}

.hundredText span {
    font-size: 6vw;
    font-weight: 300;
    letter-spacing: 1px;
    font-style: normal;
}

@media screen and (min-width:1200px) {
    .percent {
        width: 70%;
        margin: auto;
        padding: 2vw;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .percent li span {
        font-size: 2vw;
        font-weight: 300;
        letter-spacing: 2px;
        font-style: normal;
    }

    .hundredCircle {
        width: 25vw;
        height: 25vw;
        border-width: 2vw;
    }

    .hundredText span {
        font-size: 4vw;
    }
}