.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 5vw;
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: var(--body);
    box-shadow: 0 0 5px var(--info);
    z-index: 9999;
    bottom: 0;
}

.container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7vw;
}

.networkItem a {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    color: var(--primary);
    font-size: 1.5vw;
}

@media screen and (min-width:1200px) {
    .container {
        padding: 0 2vw;
        top: 0;
        bottom: auto;
    }
}