.container {
    display: none;
}

@media screen and (min-width:1200px) {
    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 10vh;
        width: 100%;
        z-index: 6;
        background-color: var(--body);
    }

    .container a {
        width: 2vw;
        height: 4vw;
        display: block;
        position: relative;
    }
}