.header {
    height: auto;
    width: 100%;
    position: relative;
    background-color: var(--primary);
    padding: 5vh;
}

.header h1 {
    position: relative;
    z-index: 5;
    width: 100%;
    color: var(--body);
    margin-bottom: 25vw;
}

.videoWrapper {
    width: calc(100vw - 10vh);
    height: 50vw;
    position: relative;
}

.video {
    width: 100%;
    height: 100%;
    border: 1vw solid var(--body);
    position: absolute;
    z-index: 3;
}

.pote {
    width: 30vw;
    height: 30vw;
    position: absolute;
    left: 50%;
    top: -25vw;
    z-index: 2;
    transform: translateX(-50%);
}

.article_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.article {
    width: 100%;
    padding: 5vh 5vw;
}

.article h2 {
    margin-bottom: 2vh;
}

.article span {
    text-underline-offset: 3px;
}

.cta {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5vh 0 10vh 0;
}

.cta span {
    color: var(--highlight);
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 2vh;
}

.cafe {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 2vh);
}

.wrapper {
    position: relative;
    width: 30vw;
    height: 30vw;
}

.wrapper img {
    object-position: center center !important;
}

.examples {
    background-color: var(--darkBlue);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh 5vw 10vh 5vw;
    position: relative;
}

.examples > h2 {
    color: var(--body);
    letter-spacing: 1px;
    font-size: 10vw;
    line-height: 1;
    font-family: var(--titleFont);
    font-weight: 200;
    font-style: italic;
    text-transform: none;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    justify-content: center;
    gap: 2vw;
    width: 100%;
    padding: 5vw 0;
}

.goToServices {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.spacer {
    position: relative;
    height: 30vh;
    pointer-events: none;
}

.observateur {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 10%);
    z-index: 1;
}

.ObservateurWrapper {
    width: 40vw;
    height: 40vw;
    position: relative;
}

@media screen and (min-width:1200px) {
    .header {
        height: 500px;
        padding: 4vw 5vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .header h1 {
        font-size: 5vw;
        margin: 0 auto;
        text-align: center;
        margin-top: 2vh;
    }

    .videoWrapper {
        width: 960px;
        height: 540px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    .pote {
        width: 20vw;
        height: 20vw;
        position: absolute;
        left: 0;
        top: auto;
        bottom: 0;
        z-index: 2;
        transform: translate(-100%, -70%);
    }

    .container main {
        margin: 270px auto 0 auto;
    }

    .article {
        width: calc(960px - 2vw);
        padding: 5vh 0;
    }

    .cafe {
        position: absolute;
        bottom: 0;
        left: auto;
        right: 0;
        transform: translate(0, -5vh);
    }

    .wrapper {
        width: 20vw;
        height: 20vw;
    }

    .wrapper img {
        object-position: right !important;
    }

    .examples {
        background-color: var(--darkBlue);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2vw 5vw 5vw 5vw;
        position: relative;
    }

    .examples > h2 {
        font-size: 70px;
    }

    .grid {
        grid-template-columns: repeat(auto-fill, 20vw);
    }

    .spacer {
        height: 400px;
    }

    .ObservateurWrapper {
        width: 20vw;
        height: 20vw;
        position: relative;
    }
}