.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--body);
    padding: 10vh 0 0 0;
}

.mockup {
    width: 100%;
    height: 40vh;
    padding: 0;
    position: relative;
}

.mockup img {
    object-fit: cover !important;
    object-position: bottom right;
}

.text {
    padding: 5vh 5vw;
    width: 100%;
    height: auto;
    position: relative;
}

.text h1 {
    margin-bottom: 2vh;
}

@media screen and (min-width:1200px) {
    .container {
        flex-direction: row;
        align-items: flex-start;
        padding: 10vh 0 0 0;
    }

    .container > div {
        width: 50%;
        height: 90vh;
    }

    .mockup {
        height: 80vh !important;
    }

    .mockup img {
        object-fit: cover !important;
        object-position: top right;
    }
}